.show-card > img{
  height: 350px;
  width: 625px;
  margin-top: 10px;
  opacity: .9;
  object-fit: cover;
}

.show-card{
  width: 650px;
  height: auto;
  text-align: center;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 5px;
}

.buy-option{
  margin-left: 400px;
  display: flex;
}

.rent-button{
  margin-left: 5px;
  text-decoration: none;
  color: black;
}

.rent-button:hover{
  text-decoration: underline;
}
