<div class="footer position-absolute bottom-0 w-100">
  <div class="footer-links">
    <a href="https://github.com/Rox1610" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/rox__dvl/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/roxanne-devillers-b2751154/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> par Roxanne
  </div>
</div>
