<div class="banner">
  <div class="home-container position-absolute">
    <h1 class="mt-3">Rent the era of your dreams</h1>
    <p class="typed-js">
      <span data-controller="typed-js"></span>
    </p>
    <a class="position-absolute bottom-0 start-50 translate-middle-x btn btn-light button mb-3" href="eras">Explore</a>
  </div>
</div>
