<div class="container-show-era m-4 d-flex justify-content-center">
  <div class="show-card">
    <%= cl_image_tag @era.photo.key %>
    <div class="card-infos">
      <h2 class="mt-2"><%= @era.title %></h2>
      <p class="px-3"> <u>Description</u>: <%= @era.content %></p>
      <p class="card-pricing"><u>Price</u>: <%= @era.price %> $/hour</p>
    </div>
  </div>
</div>
