.card-index {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 250px;
  width: 420px;
  border-radius: 10px;
}

.card-index > img {
  height: 185px;
  width: 100%;
  object-fit: cover;
  margin-top: 10px;
  opacity: .9;
  border-radius: 10px;
}

.card-index h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-index .card-index-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
