.home-container{
  width: 100%;
  height: 560px;
  background-position: center bottom;
  background-size: cover;
  background-image: url("https://assets.iflscience.com/assets/articleNo/66337/aImg/63640/time-travel-l.webp");
  text-align: center;
  opacity: .99;
}

.container-new-travel{
  background-image: url("new_travel.jpg");
  background-size: cover;
  height: 560px;
  opacity: .99;
}

.container-booking{
  width: 600px;
  height: 560px;
}
